@import "~material-ui-sass/material-ui.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

//Your custom app styles
.language-selector-button {
  margin-bottom: 16px;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  user-select: none;
  //background-image: url('../img/tile-bg.png');

  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;


}

.LanguageList {
  $bookIconCir: 272px;
  .bookIcon {
    width: $bookIconCir;
    height: $bookIconCir;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    border-radius: $bookIconCir / 2;
    background-position: 'center';
    background-size: 100% 100%;
    background-contain: 100% 100%;
    background-repeat: 'no-repeat';
  }
  h1 {
    color: #484848;
    font-weight: 600;
    font-size: 2em;
    /* Medium Phone Devices */
    @media only screen and (max-device-width : 480px) {
      font-size: 3em;
    }
  }
  .button:hover {
    background-color: #e4ebae;
  }
  .button {
    display: block;
    width: 300px;
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
    color: #414b57;
    background-color: #d6e39f;
    border-radius: 6px;
    margin: 20px auto;
    /* Small Screen */
    @media (max-width : 667px) {
      width: 90%;
      font-size: 24px;
      margin: 30px auto;
    }
    /* Medium Phone Devices */
    @media only screen and (max-device-width : 480px) {
      width: 75%;
      padding: 40px;
      font-size: 2.5em;
      margin: 80px auto;
    }
  }


  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 100px auto 0;
  text-align: center;
}

.progressbar-container {
  pointer-events: none;
  user-select: none;
  box-sizing: border-box;
  border-radius: 10px;
  background-clip: padding-box;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  overflow: hidden;
}
.progressbar-progress {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69%);
  box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4); position: relative;
  overflow: hidden;
}
.progressbar-progress:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
  background-color: rgb(43,194,83);
  background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
